<!DOCTYPE html>
<html>
  <head>
    <title>Cars</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "Estructuras", structures_path %>
    <%= link_to "Clasificaciones", classifications_path %>
    <%= link_to "Accesorios", accessories_path %>
    <%= link_to "Marcas", brands_path %>
    <%= link_to "Coches", cars_path %>
    <%= link_to "Crear Estructura", new_structure_path %>
    <%= link_to "Crear Clasificación", new_classification_path %>
    <%= link_to "Crear Accesorio", new_accessory_path %>
    <%= link_to "Nueva Marca", new_brand_path %>
    <%= link_to "Crear Coche", new_car_path %>
    <%= yield %>
  </body>
</html>
